{% extends 'vendor.html' %}
{% load static %}
{% block title %}Chats{% endblock %}
{% block content %}
<div class="container mt-3 p-3">
    <h2 class="text-center mb-4">Chats</h2>
    <div class="row">
        <div class="col-12">
            <h3>Active Rooms</h3>
            <ul>
                {% for ru in room %}
                    <li>{{ ru.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
