/* styles.css or your custom stylesheet */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.font-lobster {
    font-family: 'Lobster Two', cursive;
}
.font-montserrat {
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    background-color: #D7D7D7;
}