<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Other head elements -->

    <!-- Link to Lobster Two font from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap">

    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Your existing styles or Bootstrap styles -->
</head>

    <nav>
        <div class="font-lobster p-4">
            <h4>EaseEvent</h4>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="{%url 'venue:home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'user:login'%}">Login</a>
            </li>
            {%endif%}
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'user:signup'%}">SignUp</a>
            </li>
            {%endif%}
            <!-- {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'user:login'%}">Login Vendor</a>
            </li>
            {%endif%}
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'user:login'%}">SignUp Vendor</a>
            </li> 
            {%endif%} -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{%url 'user:logout'%}">LogOut</a>
            </li>
            {%endif%}
          </ul>
    </nav>
