<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <div class="logo font-lobster">
                    <h4>EaseEvent</h4>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'adminPanel:show_vendors' %}">Vendors Detail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>