{% extends 'base.html' %}
{% load static %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}

{% block content %}
<div class="container mt-5 mb-5 rounded">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="{% static 'images/bgLogin.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h3 class="card-title text-center">Login</h3>
              <div class="d-flex justify-content-between mb-3">
                <a href="#" class="btn btn-primary btn-sm customer-login active" style="width:49%;">Customer Login</a>
                <a href="#" class="btn btn-primary btn-sm vendor-login" style="width:49%;">Vendor Login</a>
              </div>
              <form method="POST" action="" id="login-form">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">Username:</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <div class="mt-3">
                  <a href="{% url 'user:forgetpassword' %}">Forget Password?</a>
                </div>
                <hr class="my-4">
                <div class="mt-3 text-center">
                  Don't have an account? <a href="{% url 'user:signup' %}"> Sign Up</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const customerLoginTab = document.querySelector('.customer-login');
    const vendorLoginTab = document.querySelector('.vendor-login');
    const loginForm = document.getElementById('login-form');

    customerLoginTab.addEventListener('click', function(event) {
      event.preventDefault();
      customerLoginTab.classList.add('active');
      vendorLoginTab.classList.remove('active');
      loginForm.action = "{% url 'user:login' %}";
    });

    vendorLoginTab.addEventListener('click', function(event) {
      event.preventDefault();
      vendorLoginTab.classList.add('active');
      customerLoginTab.classList.remove('active');
      loginForm.action = "{% url 'user:loginVendor' %}";
    });
  });
</script>
{% endblock %}
