{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Forget Password</h2>
            <form method="POST">
                {%csrf_token%}
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>

                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" required>
                    <input type="submit" class="btn btn-primary mt-3" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}