{% extends 'adminPanel/index.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/admin.css' %}" rel="stylesheet">
<div class="goBack">
    <button class="btn btn-primary" onclick="redirectShowCustomers()"><i class="bi bi-arrow-left"></i></button>
</div>
<h2>Add Customers</h2>
<form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" name="address">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirm Password</label>
      <input type="password" class="form-control" name="confirmpassword" required>
    </div>
    
    <div class="form-group">
      <label for="phone">Mobile Number</label>
      <input type="tel" class="form-control" pattern="[0-9]{10}" name="phone" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
  </form>
<script>
    function redirectShowCustomers(){
        window.location.href = "{% url 'adminPanel:show_cust' %}";
    }
</script>
{% endblock %}