{% extends 'adminPanel/index.html' %}
{%load static%}
{% block content %}
<!-- <link href="{% static 'css/dashboard.css' %}" rel="stylesheet"> -->
<div class="container-fluid">
    <div class="row">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Vendor Details</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
          <button type="button" class="btn btn-primary" onclick="addCust()">Add Customers</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            {% if bookings %}
            <tr>
              <th>S.N</th>
              <th>Username</th>
              <th>Venue</th>
              <th>Event Name</th>
              <th>Guests</th>
              <th>Date</th>
              <th>Time</th>
              <th colspan="2" style="text-align: center;">Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for book in bookings %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{ book.username}}</td>
              <td>{{ book.venue }}</td>
              <td>{{ book.eventName }}</td>
              <td>{{ book.guests }}</td>
              <td>{{ book.date }}</td>
              <td>{{ book.time }}</td>
                
              <td style="width: 30px;">
                <button type="button" class="btn btn-primary" onclick="updateCust('{{cust.id}}')"><i class="bi bi-pencil-square"></i></button>
              </td>
              <td style="width: 30px;">
                  <button type="button" class="btn btn-danger" onclick="deleteCust('{{cust.id}}')"><i class="bi bi-trash-fill"></i></button>
              </td>
            </tr>
            {% endfor %}
          </tbody>  
        </table>
        {% else %}
        <h4>No Data...</h4>
        {% endif %}
      </div>
    </main>
    </div>
</div>
<script>
  function updateCust(id){
    window.location.href= "/update_cust/"+id+"/";
  }
  function deleteCust(id){
    var r = confirm("Are you sure you want to delete?");
    if (r == true) {
      window.location.href= "/delete_cust/"+id+"/";
    }
  }

  function addCust(){
      window.location.href= "/add_cust/";
  }

</script>
{% endblock %}
